@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}


.container {
  display: flex;
  width: 100vw;
}

.panel {
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  /* .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
   
  } */
}
.panel-details {
  position: absolute;
  bottom: 0; /* Position at the bottom of the panel */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with low opacity */
  color: #fff;
  padding: 20px;
  border-radius: 0 0 20px 20px; /* Rounded corners at the bottom */
  z-index: 2; /* Ensure it's above the image */
  text-align: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

/* Hover effect to show details on the active panel */
.panel:hover .panel-details {
  opacity: 1; /* Show details on hover */
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
 
}
